<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmdex</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .suggested {
            cursor: pointer;
        }
    </style>
</head>
<body class="bg-gray-900">
    <div id="app">

        <header class="relative">
            <div class="absolute inset-0 z-0">
                <img src="https://wallpapers.com/images/hd/zoom-background-q4y9fpc46ij6h8a2.jpg" alt="Background" class="w-full h-full object-cover object-center">
            </div>
            <nav class="container mx-auto px-4 py-4 flex justify-between items-center z-10 relative">
                <h1 class="text-3xl font-bold hover:font-black text-white">Filmdex</h1>
                <div class="flex items-center space-x-4">
                    <button class="px-4 py-2 border border-yellow-500 text-white font-semibold rounded-full hover:bg-yellow-500 hover:text-black transition duration-300">Masuk</button>
                </div>
            </nav>
            <div class="container mx-auto flex justify-center items-center z-10 relative">
                <img src="assets/wb.png" alt="Warner Bros Logo" class="w-64 h-64 mb-6">
            </div>
        </header>

        <main class="container mx-auto px-4 py-8">
            <h1 class="container mx-auto text-3xl font-black text-center text-yellow-300 mb-6 z-10">List Film</h1>
            <div class="flex flex-col items-center mb-6">
                <input type="text" v-model="search" placeholder="Cari film..."
                    class="w-1/2 px-4 py-2 rounded-full border-gray-600 shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 bg-gray-200 mb-2">
                <label class="text-gray-300">Suggestion : <span class="text-yellow-300 suggested" v-for="s in suggestedFilm" @click="goToDetail(s.id)">{{ s.title }} | </span></label>
            </div>

            <section>
                <div v-if="!viewAsList">
                    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 dark:bg-gray-700">
                        <div class="bg-gray-800 dark:bg-gray-800 rounded-lg overflow-hidden shadow-md" v-for="item in movieList" @click="goToDetail(item.id)">
                            <img class="w-full object-cover object-center" :src="'https://image.tmdb.org/t/p/w500/' + item.poster_path">
                            <div class="p-4">
                                <h2 class="text-xl font-semibold mb-2 text-yellow-300">{{ item.title }}</h2>
                                <p class="text-gray-300 dark:text-gray-400">{{ item.tagline }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="flex max-w-4xl mx-auto bg-gray-800 rounded-lg overflow-hidden shadow-lg">
                        <div class="flex w-full">
                            <div class="w-1/2">
                                <img class="w-full h-auto object-cover" :src="'https://image.tmdb.org/t/p/w500/' + selectedMovie.poster_path" alt="Movie Poster">
                            </div>
                            <div class="w-1/2 flex flex-col justify-between p-6">
                                <div>
                                    <h2 class="text-2xl font-extrabold text-yellow-300">{{ selectedMovie.title }}</h2>
                                    <p class="text-sm text-gray-300 mt-2">Genre:</p>
                                    <span v-for="genre in selectedMovie.genres" class="inline-block border border-gray-300 hover:bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-300 hover:text-gray-800 mr-2 mb-2">{{ genre.name }}</span>
                                    <p class="text-sm text-gray-300 mt-2">Rilis: {{ selectedMovie.release_date }}</p>
                                    <p class="text-gray-300 mt-4">{{ selectedMovie.overview }}</p>
                                </div>
                                <button class="bg-yellow-500 hover:bg-yellow-600 text-white hover:text-gray-800 font-bold py-2 px-4 rounded mt-4 self-end" @click="viewAsList = false">Kembali</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>

    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            data() {
                return {
                    movieList: [],
                    viewAsList: false,
                    selectedMovie: '',
                    search: '',
                    allFilms: [],
                    suggestedFilm: ''
                }
            },
            methods: {
                async logMovies() {
                    let response = await fetch("https://api.themoviedb.org/3/discover/movie?api_key=4e44d9029b1270a757cddc766a1bcb63&with_genres=28");
                    let data = await response.json();
                    let results = data.results;

                    results.forEach(movie => {
                        this.getEachMovie(movie)
                    });
                },
                async getEachMovie(movie) {
                    let response = await fetch("https://api.themoviedb.org/3/movie/" + movie.id + "?api_key=4e44d9029b1270a757cddc766a1bcb63&language=en-US");
                    let data = await response.json();
                    console.log(data);
                    this.movieList.push(data)
                    this.movieList.sort((a, b) => a.title.localeCompare(b.title))
                },
                async goToDetail(movieName) {
                    this.viewAsList = true
                    let response = await fetch("https://api.themoviedb.org/3/movie/" + movieName + "?api_key=4e44d9029b1270a757cddc766a1bcb63&language=en-US");
                    let data = await response.json();
                    this.selectedMovie = data
                },
                async getAllMovie() {
                    let response = await fetch("https://api.themoviedb.org/3/discover/movie?api_key=4e44d9029b1270a757cddc766a1bcb63&with_genres=28");
                    let data = await response.json();
                    let result = data.results

                    this.allFilms= result
                }
            },
            watch: {
                search() {
                    let filteredMovie = this.allFilms.filter(item => {
                    return item.title.toLowerCase().includes(this.search.toLowerCase())
                })
                    this.suggestedFilm = filteredMovie
                }
            },
            mounted() {
                this.logMovies()
                this.getAllMovie()
            }
        }).mount('#app')
    </script>
</body>
</html>